<!-- Schemas -->
<h3>Schemas</h3>
<div class="mat-elevation-z8">
  <table mat-table #schemasTable [dataSource]="schemas" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <!-- SolverGroup Column -->
    <ng-container matColumnDef="solverGroup">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Solver group </th>
      <td mat-cell *matCellDef="let element"> {{element?.solverGroup}} </td>
    </ng-container>

    <!-- Latest solver version Column -->
    <ng-container matColumnDef="latestSolverVersion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Latest solver version </th>
      <td mat-cell *matCellDef="let element"> {{element?.latestSolverVersion}} </td>
    </ng-container>

    <!-- PaymentMethod Column -->
    <ng-container matColumnDef="paymentMethod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment method </th>
      <td mat-cell *matCellDef="let element"> {{element?.paymentMethod}} </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="goTo(element?.id)">Details</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator #schemasPaginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons></mat-paginator>
</div>

<br/>

<!-- New schema -->
<h3>New schema</h3>

<form class="row g-3" #newSchemaForm="ngForm" >
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newSchema!.name" [value]="newSchema?.name">
  </div>
  <div class="col-md-3">
    <label for="ownerGitlabId" class="form-label">Owner's gitlab id</label>
    <input type="number" class="form-control" id="ownerGitlabId" name="ownerGitlabId" [(ngModel)]="newSchema!.ownerGitlabId" [value]="newSchema?.ownerGitlabId">
  </div>
  <div class="col-md-3">
    <label for="paymentMethod" class="form-label">Payment method</label>
    <select id="paymentMethod" class="form-select" [(ngModel)]="newSchema!.paymentMethod" name="paymentMethod">
      <option *ngFor="let method of paymentMethods" [value]="method">{{method}}</option>
    </select>
  </div>


  <div class="col-md-12">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newSchema!.description" [value]="newSchema?.description">
  </div>

  <div class="col-md-6">
    <label for="solverGroup" class="form-label">Solver group</label>
    <input type="text" class="form-control" id="solverGroup" name="solverGroup" [(ngModel)]="newSchema!.solverGroup" [value]="newSchema?.solverGroup">
  </div>
  <div class="col-md-6">
    <label for="latestSolverVersion" class="form-label">Latest solver version</label>
    <input type="text" class="form-control" id="latestSolverVersion" name="latestSolverVersion" [(ngModel)]="newSchema!.latestSolverVersion" [value]="newSchema?.latestSolverVersion">
  </div>

  <div class="col-md-12">
    <label for="commandTemplate" class="form-label">Command template</label>
    <input type="text" class="form-control" id="commandTemplate" name="commandTemplate" [(ngModel)]="newSchema!.commandTemplate" [value]="newSchema?.commandTemplate">
  </div>

  <div class="col-md-12">
    <label for="validationKeys" class="form-label">Validation keys</label>
    <input type="text" class="form-control" id="validationKeys" name="validationKeys" [(ngModel)]="newSchema!.validationKeys" [value]="newSchema?.validationKeys">
  </div>

  <div class="col-md-12">
    <label for="assessmentKeys" class="form-label">Assessment keys</label>
    <input type="text" class="form-control" id="assessmentKeys" name="assessmentKeys" [(ngModel)]="newSchema!.assessmentKeys" [value]="newSchema?.assessmentKeys">
  </div>

  <div class="col-md-4">
    <label for="minNumberOfCpus" class="form-label">Minimum number of CPUs</label>
    <input type="number" min="0" class="form-control" id="minNumberOfCpus" name="minNumberOfCpus" [(ngModel)]="newSchema!.minNumberOfCpus" [value]="newSchema?.minNumberOfCpus">
  </div>
  <div class="col-md-4">
    <label for="minNumberOfGpus" class="form-label">Minimum number of GPUs</label>
    <input type="number" min="0" class="form-control" id="minNumberOfGpus" name="minNumberOfGpus" [(ngModel)]="newSchema!.minNumberOfGpus" [value]="newSchema?.minNumberOfGpus">
  </div>
  <div class="col-md-4">
    <label for="minRamMemory" class="form-label">Minimum RAM memory (B)</label>
    <input type="number" min="0" class="form-control" id="minRamMemory" name="minRamMemory" [(ngModel)]="newSchema!.minRamMemory" [value]="newSchema?.minRamMemory">
  </div>

  <div class="col-md-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="usesMlModel" [checked]="newSchema?.usesMlModel">
      <label class="form-check-label" for="usesMlModel">
        Is using ML model
      </label>
    </div>
  </div>

  <div class="col-2">
    <button type="submit" class="btn btn-primary" (click)="addNewSchema()">Add new schema</button>
  </div>

</form>

<br/>



