<h5>Schema {{schema?.id}}</h5>

<form class="row g-3 was-validated" #schemaForm="ngForm">
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" pattern=".{4,255}" class="form-control" id="name" name="name" [(ngModel)]="schema!.name" [value]="schema?.name" [disabled]="!isEditAllowed" required>
  </div>
  <div class="col-md-3">
    <label for="ownersGitlabId" class="form-label">Owner's gitlab id</label>
    <input type="number" class="form-control" id="ownersGitlabId" name="ownersGitlabId" [(ngModel)]="schema!.ownersGitlabId" [value]="schema?.ownersGitlabId" [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-3">
    <label for="paymentMethod" class="form-label">Payment method</label>
    <select id="paymentMethod" class="form-select" [disabled]="!isEditAllowed" [(ngModel)]="schema!.paymentMethod" name="paymentMethod">
      <option *ngFor="let method of paymentMethods" [value]="method">{{method}}</option>
    </select>
  </div>


  <div class="col-md-8">
    <label for="description" class="form-label">Description</label>
    <input type="text" pattern=".{0,255}" class="form-control" id="description" name="description" [(ngModel)]="schema!.description" [value]="schema?.description" [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-4">
    <label for="schemaCategoryId" class="form-label">Schema category</label>
<!--    <input type="text" pattern=".{0,255}" class="form-control" id="schemaCategory" name="schemaCategory" [(ngModel)]="schema!.schemaCategory!.name" [value]="schema?.schemaCategory?.name" [disabled]="!isEditAllowed">-->

      <select id="schemaCategoryId" class="form-select" name="schemaCategoryId" [disabled]="!isEditAllowed" [(ngModel)]="schema!.schemaCategoryId">
      <option *ngFor="let method of schemaCategories" [ngValue]="method.id">{{method.name}}</option>
    </select>
  </div>

  <div class="col-md-6">
    <label for="solverGroup" class="form-label">Solver group</label>
    <input type="text" pattern=".{0,255}" class="form-control" id="solverGroup" name="solverGroup" [(ngModel)]="schema!.solverGroup" [value]="schema?.solverGroup" [disabled]="!isEditAllowed" required>
  </div>
  <div class="col-md-6">
    <label for="latestSolverVersion" class="form-label">Latest solver version</label>
    <input type="text" pattern=".{0,255}" class="form-control" id="latestSolverVersion" name="latestSolverVersion" [(ngModel)]="schema!.latestSolverVersion" [value]="schema?.latestSolverVersion" [disabled]="!isEditAllowed" required>
  </div>

  <div class="col-md-12">
    <label for="commandTemplate" class="form-label">Command template</label>
    <input type="text" pattern=".{0,255}" class="form-control" id="commandTemplate" name="commandTemplate" [(ngModel)]="schema!.commandTemplate" [value]="schema?.commandTemplate" [disabled]="!isEditAllowed" required>
  </div>

  <div class="col-md-12">
    <label for="validationKeys" class="form-label">Validation keys</label>
    <input type="text" pattern=".{0,255}" class="form-control" id="validationKeys" name="validationKeys" [(ngModel)]="schema!.validationKeys" [value]="schema?.validationKeys" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-12">
    <label for="assessmentKeys" class="form-label">Assessment keys</label>
    <input type="text" pattern=".{0,255}" class="form-control" id="assessmentKeys" name="assessmentKeys" [(ngModel)]="schema!.assessmentKeys" [value]="schema?.assessmentKeys" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-12">
    <label for="filesToNotRemoveDuringRuntime" class="form-label">Files to not remove during runtime</label>
    <input type="text" pattern=".{0,255}" class="form-control" id="filesToNotRemoveDuringRuntime" name="filesToNotRemoveDuringRuntime" [(ngModel)]="schema!.filesToNotRemoveDuringRuntime" [value]="schema?.filesToNotRemoveDuringRuntime" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-12">
    <label for="filesToNotUpload" class="form-label">Files to not upload</label>
    <input type="text" pattern=".{0,255}" class="form-control" id="filesToNotUpload" name="filesToNotUpload" [(ngModel)]="schema!.filesToNotUpload" [value]="schema?.filesToNotUpload" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-12">
    <label for="additionalFoldersToUpload" class="form-label">Additional folders to upload</label>
    <input type="text" pattern=".{0,255}" class="form-control" id="additionalFoldersToUpload" name="additionalFoldersToUpload" [(ngModel)]="schema!.additionalFoldersToUpload" [value]="schema?.additionalFoldersToUpload" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-4">
    <label for="minNumberOfCpus" class="form-label">Minimum number of CPUs</label>
    <input type="number" min="1" class="form-control" id="minNumberOfCpus" name="minNumberOfCpus" [(ngModel)]="schema!.minNumberOfCpus" [value]="schema?.minNumberOfCpus" [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-4">
    <label for="minNumberOfGpus" class="form-label">Minimum number of GPUs</label>
    <input type="number" min="0" class="form-control" id="minNumberOfGpus" name="minNumberOfGpus" [(ngModel)]="schema!.minNumberOfGpus" [value]="schema?.minNumberOfGpus" [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-4">
    <label for="minRamMemory" class="form-label">Minimum RAM memory (B)</label>
    <input type="number" min="0" class="form-control" id="minRamMemory" name="minRamMemory" [(ngModel)]="schema!.minRamMemory" [value]="schema?.minRamMemory" [disabled]="!isEditAllowed">
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Payment schema
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="col-md-12">
            <textarea class="form-control" id="paymentSchema" name="paymentSchema" rows="10" [(ngModel)]="schema!.paymentSchema" [value]="schema?.paymentSchema" [disabled]="!isEditAllowed"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-2" *ngIf="isEditAllowed == false">
    <button type="submit" class="btn btn-primary" (click)="allowEdit()">Edit</button>
  </div>
  <div class="col-2" *ngIf="isEditAllowed == true">
    <button type="submit" class="btn btn-warning" (click)="editSchema()">Submit</button>&nbsp;
    <button type="submit" class="btn btn-primary" (click)="reload()">Cancel</button>
  </div>

</form>

<br/>

<form class="row g-3">
  <div class="col-12" *ngIf="isRemovalAllowed == false">
    <button type="submit" class="btn btn-danger" (click)="allowRemoval()">Delete schema</button>
  </div>
  <div class="col-12" *ngIf="isRemovalAllowed == true">
    <button type="submit" class="btn btn-warning" (click)="deleteSchema()">Click here to confirm schema delete</button>&nbsp;
    <button type="submit" class="btn btn-primary" (click)="reload()">Cancel</button>
  </div>
</form>

<br/>
