<h3>Resource {{resource?.id}} details</h3>

<form class="row g-3" #resourceForm="ngForm" >
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="resource!.name" [value]="resource?.name" [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-6">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="resource!.description" [value]="resource?.description" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-12">
    <label for="url" class="form-label">Url</label>
    <input type="text" class="form-control" id="url" name="url" [(ngModel)]="resource!.url" [value]="resource?.url" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-4">
    <label for="numberOfCpus" class="form-label">Number of CPUs</label>
    <input type="number" min="0" class="form-control" id="numberOfCpus" name="numberOfCpus" [(ngModel)]="resource!.numberOfCpus" [value]="resource?.numberOfCpus" [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-4">
    <label for="numberOfGpus" class="form-label">Number of GPUs</label>
    <input type="number" min="0" class="form-control" id="numberOfGpus" name="numberOfGpus" [(ngModel)]="resource!.numberOfGpus" [value]="resource?.numberOfGpus" [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-4">
    <label for="ramMemory" class="form-label">RAM memory (B)</label>
    <input type="number" min="0" class="form-control" id="ramMemory" name="ramMemory" [(ngModel)]="resource!.ramMemory" [value]="resource?.ramMemory" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-4">
    <label for="numberOfCpusInUse" class="form-label">Number of CPUs in use</label>
    <input type="number" min="0" class="form-control" id="numberOfCpusInUse" name="numberOfCpusInUse" [(ngModel)]="resource!.numberOfCpusInUse" [value]="resource?.numberOfCpusInUse" disabled>
  </div>
  <div class="col-md-4">
    <label for="numberOfGpusInUse" class="form-label">Number of GPUs in use</label>
    <input type="number" min="0" class="form-control" id="numberOfGpusInUse" name="numberOfGpusInUse" [(ngModel)]="resource!.numberOfGpusInUse" [value]="resource?.numberOfGpusInUse" disabled>
  </div>
  <div class="col-md-4">
    <label for="ramMemoryInUse" class="form-label">RAM memory in use (B)</label>
    <input type="number" min="0" class="form-control" id="ramMemoryInUse" name="ramMemoryInUse" [(ngModel)]="resource!.ramMemoryInUse" [value]="resource?.ramMemoryInUse" disabled>
  </div>

  <div class="col-md-3">
    <label for="status" class="form-label">Status</label>
    <input type="text" min="0" class="form-control" id="status" name="status" [(ngModel)]="resource!.status" [value]="resource?.status" disabled>
  </div>
  <div class="col-md-3">
    <label for="type" class="form-label">Type</label>
    <input type="text" min="0" class="form-control" id="type" name="type" [(ngModel)]="resource!.type" [value]="resource?.type" disabled>
  </div>
  <div class="col-md-3">
    <label for="zone" class="form-label">Zone</label>
    <input type="number" min="0" class="form-control" id="zone" name="zone" [(ngModel)]="resource!.zone" [value]="resource?.zone" disabled>
  </div>
  <div class="col-md-3">
    <label for="version" class="form-label">Version</label>
    <input type="string" min="0" class="form-control" id="version" name="version" [(ngModel)]="resource!.version" [value]="resource?.version" disabled>
  </div>

  <div class="col-md-12">
    <label for="jwtSecret" class="form-label">Secret</label>
    <input type="text" class="form-control" id="jwtSecret" name="jwtSecret" [(ngModel)]="resource!.jwtSecret" [value]="resource?.jwtSecret" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="isSuspended" name="isSuspended" [(ngModel)]="resource!.isSuspended" [disabled]="!isEditAllowed">
      <label class="form-check-label" for="isSuspended">
        Is suspended
      </label>
    </div>
  </div>


  <div class="col-2" *ngIf="isEditAllowed == false">
    <button type="submit" class="btn btn-primary" (click)="allowEdit()">Edit</button>
  </div>
  <div class="col-2" *ngIf="isEditAllowed == true">
    <button type="submit" class="btn btn-warning" (click)="editResource()">Submit</button>&nbsp;
    <button type="submit" class="btn btn-primary" (click)="reload()">Cancel</button>
  </div>
</form>

<br/>

<!-- Resource tasks -->
<h3>Resource tasks</h3>
<div class="mat-elevation-z8">
  <table mat-table #runningTasksTable [dataSource]="runningTasks" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
      <td mat-cell *matCellDef="let element"> {{element?.progress}} </td>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
      <td mat-cell *matCellDef="let element"> <a [routerLink]="'/users/' + element?.user.id">{{element?.user.username}}</a> </td>
    </ng-container>

    <!-- Schema name -->
    <ng-container matColumnDef="schema">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Schema </th>
      <td mat-cell *matCellDef="let element"> <a [routerLink]="'/schema/' + element?.schema.id">{{element?.schema.name}}</a> </td>
    </ng-container>

    <!-- Resource name -->
    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Resource </th>
      <td mat-cell *matCellDef="let element"> <a [routerLink]="'/resource/' + element?.resource?.id">{{element?.resource?.name}}</a> </td>
    </ng-container>

    <!-- Files Column -->
    <ng-container matColumnDef="files">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="goToFiles(element.id)">Files</button>
      </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="goTo(element.id)">Details</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

<!--  <div *ngIf="runningTasksIdLoading" style="display: flex; justify-content: center; align-items: center; background: white; margin-top: 20px">-->
<!--    <mat-progress-spinner-->
<!--      color="primary"-->
<!--      mode="indeterminate"-->
<!--      diameter="50">-->
<!--    </mat-progress-spinner>-->
<!--  </div>-->

  <mat-paginator #runningTasksPaginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons></mat-paginator>
</div>

<br/>

<!-- System resources -->
<h3>System resources</h3>
<form class="row g-3" #systemResourcesForm="ngForm" >
  <div class="col-md-2">
    <label for="ramMemoryLabel" class="form-label">&nbsp;</label>
    <label id="ramMemoryLabel" class="form-control-plaintext">RAM memory</label>
  </div>
  <div class="col-md-2">
    <label for="available" class="form-label">Available</label>
    <input type="text" class="form-control" id="available" name="available" [value]="systemResources?.ramMemory?.available" disabled>
  </div>
  <div class="col-md-2">
    <label for="free" class="form-label">Free</label>
    <input type="text" class="form-control" id="free" name="free" [value]="systemResources?.ramMemory?.free" disabled>
  </div>
  <div class="col-md-2">
    <label for="used" class="form-label">Used</label>
    <input type="text" class="form-control" id="used" name="used" [value]="systemResources?.ramMemory?.used" disabled>
  </div>
  <div class="col-md-2">
    <label for="cached" class="form-label">Cached</label>
    <input type="text" class="form-control" id="cached" name="cached" [value]="systemResources?.ramMemory?.cached" disabled>
  </div>
  <div class="col-md-2">
    <label for="buffers" class="form-label">Buffers</label>
    <input type="buffers" class="form-control" id="buffers" name="buffers"  [value]="systemResources?.ramMemory?.buffers" disabled>
  </div>

  <div class="col-md-2">
    <label for="diskSpaceLabel" class="form-label">&nbsp;</label>
    <label id="diskSpaceLabel" class="form-control-plaintext">Disk space</label>
  </div>
  <div class="col-md-2">
    <label for="rootAvailable" class="form-label">Root available</label>
    <input type="text" class="form-control" id="rootAvailable" name="rootAvailable" [value]="systemResources?.diskSpace?.root?.available" disabled>
  </div>
  <div class="col-md-2">
    <label for="rootUsed" class="form-label">Root used</label>
    <input type="text" class="form-control" id="rootUsed" name="rootUsed" [value]="systemResources?.diskSpace?.root?.used" disabled>
  </div>
  <div class="col-md-2">
    <label for="storageAvailable" class="form-label">Storage available</label>
    <input type="text" class="form-control" id="storageAvailable" name="storageAvailable"  [value]="systemResources?.diskSpace?.storage?.available" disabled>
  </div>
  <div class="col-md-2">
    <label for="storageUsed" class="form-label">Root used</label>
    <input type="text" class="form-control" id="storageUsed" name="storageUsed" [value]="systemResources?.diskSpace?.storage?.used" disabled>
  </div>
  <div class="col-md-2">
  </div>

  <div class="col-md-2">
    <label for="processesLabel" class="form-label">&nbsp;</label>
    <label id="processesLabel" class="form-control-plaintext">Processes</label>
  </div>
  <div class="col-md-2">
    <label for="numberOfProcesses" class="form-label">Number of processes</label>
    <input type="text" class="form-control" id="numberOfProcesses" name="numberOfProcesses" [value]="systemResources?.processesStatistics?.numberOfProcesses" disabled>
  </div>
  <div class="col-md-2">
    <label for="numberOfThreads" class="form-label">Number of threads</label>
    <input type="text" class="form-control" id="numberOfThreads" name="numberOfThreads" [value]="systemResources?.processesStatistics?.numberOfThreads" disabled>
  </div>
  <div class="col-md-6">
  </div>

  <div class="col-md-2">
    <label for="gpusLabel" class="form-label">&nbsp;</label>
    <label id="gpusLabel" class="form-control-plaintext">GPUs:</label>
  </div>
  <div class="col-md-10">
  </div>
</form>


<div class="mat-elevation-z8">
  <table mat-table #gpusTable [dataSource]="gpus" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <!-- TotalMemory Column -->
    <ng-container matColumnDef="totalMemory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total memory </th>
      <td mat-cell *matCellDef="let element"> {{element?.totalMemory}} </td>
    </ng-container>

    <!-- FreeMemory Column -->
    <ng-container matColumnDef="freeMemory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Free memory </th>
      <td mat-cell *matCellDef="let element"> {{element?.freeMemory}} </td>
    </ng-container>

    <!-- UsedMemory Column -->
    <ng-container matColumnDef="usedMemory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Used memory </th>
      <td mat-cell *matCellDef="let element"> {{element?.usedMemory}} </td>
    </ng-container>

    <!-- Temperature Column -->
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperature </th>
      <td mat-cell *matCellDef="let element"> {{element?.temperature}} </td>
    </ng-container>

    <!-- Utilisation Column -->
    <ng-container matColumnDef="utilisation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Utilisation </th>
      <td mat-cell *matCellDef="let element"> {{element?.utilisation}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="gpusDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: gpusDisplayedColumns;"></tr>

  </table>

  <mat-paginator #gpusPaginator [pageSizeOptions]="[10, 50]" showFirstLastButtons></mat-paginator>
</div>

<br/>

<h3>Resource statistics</h3>
<form class="row g-3" #runCaseStatisticsForm="ngForm" >
  <div class="col-md-2">
    <label for="runCaseStat" class="form-label">&nbsp;</label>
    <label id="runCaseStat" class="form-control-plaintext">Run case statistics</label>
  </div>
  <div class="col-md-2">
    <label for="statisticYear" class="form-label">Year</label>
    <select id="statisticYear" class="form-select" [(ngModel)]="statisticYear!" name="statisticYear">
      <option *ngFor="let method of statisticYears" [value]="method">{{method}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="statisticMonth" class="form-label">Month</label>
    <select id="statisticMonth" class="form-select"[(ngModel)]="statisticMonth!" name="statisticMonth">
      <option *ngFor="let method of statisticMonths" [value]="method">{{method}}</option>
    </select>
  </div>
  <div class="col-2">
    <label for="submission" class="form-label">&nbsp;</label>
    <button id="submission" type="submit" class="btn btn-primary form-control" (click)="getRunCaseResourceStatistics()">Download</button>
  </div>
</form>

<br/>

<h3>Resource removal</h3>
<form class="row g-3">
  <div class="col-12" *ngIf="isRemovalAllowed == false">
    <button type="submit" class="btn btn-primary" (click)="allowRemoval()">Delete resource</button>
  </div>
  <div class="col-12" *ngIf="isRemovalAllowed == true">
    <button type="submit" class="btn btn-warning" (click)="deleteResource()">Click here to confirm resource delete</button>&nbsp;
    <button type="submit" class="btn btn-primary" (click)="reload()">Cancel</button>
  </div>
</form>

<br/>
