<!-- Resources -->
<h3>Resources</h3>
<div class="mat-elevation-z8">
  <table mat-table #resourcesTable [dataSource]="resources" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Position Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element?.description}} </td>
    </ng-container>

    <!-- Suspended Column -->
    <ng-container matColumnDef="suspended">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Suspended </th>
      <td mat-cell *matCellDef="let element"> {{element?.suspended}} </td>
    </ng-container>

    <!-- CpuUsage Column -->
    <ng-container matColumnDef="cpuUsage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CPU usage </th>
      <td mat-cell *matCellDef="let element"> {{element?.numberOfCpusInUse}} / {{element?.numberOfCpus}} </td>
    </ng-container>

    <!-- GpuUsage Column -->
    <ng-container matColumnDef="gpuUsage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> GPU usage </th>
      <td mat-cell *matCellDef="let element"> {{element?.numberOfGpusInUse}} / {{element?.numberOfGpus}} </td>
    </ng-container>

    <!-- RamUsage Column -->
    <ng-container matColumnDef="ramUsage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> RAM usage </th>
      <td mat-cell *matCellDef="let element"> {{bytesToMb(element?.ramMemoryInUse)}} / {{bytesToMb(element?.ramMemory)}} MB</td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="goTo(element.id)">Details</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white; margin-top: 20px">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      diameter="50">
    </mat-progress-spinner>
  </div>

  <mat-paginator #resourcesPaginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons></mat-paginator>
</div>

<br/>

<h3>New resource</h3>

<form class="row g-3" #newResourceForm="ngForm" >
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newResource!.name" [value]="newResource?.name">
  </div>
  <div class="col-md-6">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newResource!.description" [value]="newResource?.description">
  </div>

  <div class="col-md-12">
    <label for="url" class="form-label">Url</label>
    <input type="text" class="form-control" id="url" name="url" [(ngModel)]="newResource!.url" [value]="newResource?.url">
  </div>

  <div class="col-md-4">
    <label for="numberOfCpus" class="form-label">Number of CPUs</label>
    <input type="number" min="0" class="form-control" id="numberOfCpus" name="numberOfCpus" [(ngModel)]="newResource!.numberOfCpus" [value]="newResource?.numberOfCpus">
  </div>
  <div class="col-md-4">
    <label for="numberOfGpus" class="form-label">Number of GPUs</label>
    <input type="number" min="0" class="form-control" id="numberOfGpus" name="numberOfGpus" [(ngModel)]="newResource!.numberOfGpus" [value]="newResource?.numberOfGpus">
  </div>
  <div class="col-md-4">
    <label for="ramMemory" class="form-label">RAM memory (B)</label>
    <input type="number" min="0" class="form-control" id="ramMemory" name="ramMemory" [(ngModel)]="newResource!.ramMemory" [value]="newResource?.ramMemory">
  </div>

  <div class="col-md-12">
    <label for="jwtSecret" class="form-label">Secret</label>
    <input type="text" class="form-control" id="jwtSecret" name="jwtSecret" [(ngModel)]="newResource!.jwtSecret" [value]="newResource?.jwtSecret">
  </div>

  <div class="col-2">
    <button type="submit" class="btn btn-primary" (click)="addNewResource()">Add new resource</button>
  </div>
</form>

<br/>
