<h3>Group {{group?.id}}</h3>
<form class="row g-3 was-validated" #groupForm="ngForm">
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" pattern=".{4,255}" class="form-control" id="name" name="name" [(ngModel)]="group!.name" [value]="group?.name" required [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-6">
    <label for="tokensBalance" class="form-label">eCubes</label>
    <input type="number" class="form-control" id="tokensBalance" name="tokensBalance" [(ngModel)]="group!.tokenBalance" [value]="group?.tokenBalance" [disabled]="!isEditAllowed">
  </div>

  <div class="col-6">
    <label for="priority" class="form-label">Priority</label>
    <input type="number" min="0" max="20" class="form-control" id="priority" name="priority" [(ngModel)]="group!.priority" [value]="group?.priority" [disabled]="!isEditAllowed">
  </div>
  <div class="col-6">
    <label for="maxNumberOfRunningTasks" class="form-label">Max number of running tasks</label>
    <input type="number" class="form-control" id="maxNumberOfRunningTasks" name="maxNumberOfRunningTasks" [(ngModel)]="group!.maxNumberOfRunningTasks" [value]="group?.maxNumberOfRunningTasks" [disabled]="!isEditAllowed">
  </div>

  <div class="col-12" *ngIf="isEditAllowed == false">
    <button type="submit" class="btn btn-primary" (click)="allowEdit()">Edit</button>
  </div>
  <div class="col-12" *ngIf="isEditAllowed == true">
    <button type="submit" class="btn btn-warning" (click)="editGroup()">Submit</button>&nbsp;
    <button type="submit" class="btn btn-primary" (click)="reload()">Cancel</button>
  </div>
</form>

<br/>

<!-- Group users -->
<h3>Group participants</h3>
<div class="mat-elevation-z8">
  <table mat-table #usersTable [dataSource]="users" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Position Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- SecondName Column -->
    <ng-container matColumnDef="secondName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Second name </th>
      <td mat-cell *matCellDef="let element"> {{element.secondName}} </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="goToUser(element.id)">Details</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator #usersPaginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons></mat-paginator>
</div>

<br/>

<form class="row g-3">
  <div class="col-12" *ngIf="isRemovalAllowed == false">
    <button type="submit" class="btn btn-primary" (click)="allowRemoval()">Delete</button>
  </div>
  <div class="col-12" *ngIf="isRemovalAllowed == true">
    <button type="submit" class="btn btn-warning" (click)="removeGroup()">Confirm delete</button>&nbsp;
    <button type="submit" class="btn btn-primary" (click)="reload()">Cancel</button>
  </div>
</form>

<br/>
