<form [formGroup]="loginForm" xmlns="http://www.w3.org/1999/html">

  <div class="header">Login to the admin account</div>

<!--  <mat-form-field>-->
<!--    <input matInput type="password" id="password" placeholder="Password" autocomplete="off" formControlName="password" required>-->
<!--  </mat-form-field>-->

  <div class="form-field">
    <fieldset>
      <label>Password</label>
      <input name="password" formControlName="password" type="password">
    </fieldset>
  </div>
  <div class="form-button">
    <button class="button" type="submit" (click)="login()">Login</button>
  </div>
</form>
