<h5>Task {{task?.id}}</h5>

<form class="row g-3" #taskForm="ngForm" >
  <div class="col-md-9">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="task!.name" [value]="task?.name" [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-3">
    <label for="zone" class="form-label">Zone</label>
    <input type="number" class="form-control" id="zone" name="zone" [(ngModel)]="task!.zone" [value]="task?.zone" disabled>
  </div>

  <div class="col-12">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="task!.description" [value]="task?.description" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-4">
    <label for="numberOfCpus" class="form-label">Number of CPUs</label>
    <input type="number" min="0" class="form-control" id="numberOfCpus" name="numberOfCpus" [(ngModel)]="task!.numberOfCpus" [value]="task?.numberOfCpus" [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-4">
    <label for="numberOfGpus" class="form-label">Number of GPUs</label>
    <input type="number" min="0" class="form-control" id="numberOfGpus" name="numberOfGpus" [(ngModel)]="task!.numberOfGpus" [value]="task?.numberOfGpus" [disabled]="!isEditAllowed">
  </div>
  <div class="col-md-4">
    <label for="ramMemory" class="form-label">RAM memory (B)</label>
    <input type="number" min="0" class="form-control" id="ramMemory" name="ramMemory" [(ngModel)]="task!.ramMemory" [value]="task?.ramMemory" [disabled]="!isEditAllowed">
  </div>

  <div class="col-md-4">
    <label for="status" class="form-label">Status</label>
    <input type="text" min="0" class="form-control" id="status" name="status" [(ngModel)]="task!.status" [value]="task?.status" disabled>
  </div>
  <div class="col-md-4">
    <label for="progress" class="form-label">Progress</label>
    <input type="number" min="0" class="form-control" id="progress" name="progress" [(ngModel)]="task!.progress" [value]="task?.progress" disabled>
  </div>
  <div class="col-md-4">
    <label for="errorCode" class="form-label">Error code</label>
    <input type="number" min="0" class="form-control" id="errorCode" name="errorCode" [(ngModel)]="task!.errorCode" [value]="task?.errorCode" disabled>
  </div>

  <div class="col-md-12">
    <label for="message" class="form-label">Message</label>
    <input type="text" min="0" class="form-control" id="message" name="message" [(ngModel)]="task!.message" [value]="task?.message" disabled>
  </div>

  <div class="col-md-4">
    <label for="consumedTokens" class="form-label">Consumed tokens</label>
    <input type="number" min="0" class="form-control" id="consumedTokens" name="consumedTokens" [(ngModel)]="task!.consumedTokens" [value]="task?.consumedTokens" disabled>
  </div>
  <div class="col-md-4">
    <label for="tokenSource" class="form-label">Token source</label>
    <input type="number" min="0" class="form-control" id="tokenSource" name="tokenSource" [(ngModel)]="task!.tokenSource" [value]="task?.tokenSource" disabled>
  </div>
  <div class="col-md-4">
    <label for="taskEndTime" class="form-label">Predicted end time</label>
    <input type="number" min="0" class="form-control" id="taskEndTime" name="taskEndTime" [(ngModel)]="task!.taskEndTime" [value]="task?.taskEndTime" disabled>
  </div>

  <div class="col-md-2">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="isPaid" name="isPaid" [(ngModel)]="task!.paid" [checked]="task?.paid" disabled>
      <label class="form-check-label" for="isPaid">
        Is paid
      </label>
    </div>
  </div>

  <div class="col-12" *ngIf="isEditAllowed == false">
    <button type="submit" class="btn btn-primary" (click)="allowEdit()">Edit</button>
  </div>
  <div class="col-12" *ngIf="isEditAllowed == true">
    <button type="submit" class="btn btn-warning" (click)="editTask()">Submit</button>&nbsp;
    <button type="submit" class="btn btn-primary" (click)="reload()">Cancel</button>
  </div>
</form>

<br/>

<div class="col-3">
  <b>Schema: </b>
</div>
