<div *ngIf="authService.isLoggedOut()">
  <router-outlet></router-outlet>
</div>

<div *ngIf="authService.isLoggedIn() && authService.hasTwoFaEnabled() == false">
  <router-outlet></router-outlet>
</div>

<div *ngIf="authService.isLoggedIn() && authService.hasTwoFaEnabled() == true">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="">&nbsp; Alsim Cloud admin profile</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" (click)="authService.logout()" routerLink="login">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" *ngIf="authService.isLoggedIn()">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" routerLinkActive="active">
          <li class="nav-item">
            <a class="nav-link" routerLink="users">
              <span data-feather="user"></span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="groups">
              <span data-feather="users"></span>
              Groups
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tasks">
              <span data-feather="file"></span>
              Tasks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="schemas">
              <span data-feather="schemas"></span>
              Schemas
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" routerLink="schemaCategories">-->
<!--              <span data-feather="schemaCategories"></span>-->
<!--              Schema categories-->
<!--            </a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" routerLink="resources">
              <span data-feather="resources"></span>
              Resources
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="queue">
              <span data-feather="queue"></span>
              Queue
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="files">
              <span data-feather="files"></span>
              Files
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="storage">
              <span data-feather="storage"></span>
              Storage
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="educationalDomains">
              <span data-feather="educationalDomains"></span>
              Educational domains
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="analytics">
              <span data-feather="analytics"></span>
              Analytics
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <router-outlet></router-outlet>
    </main>
    </div>
  </div>
</div>


