<form class="form-twofa text-center" [ngModel]="twoFaForm" xmlns="http://www.w3.org/1999/html">
  <h1 class="h3 mb-3 font-weight-normal">You need to enable 2FA</h1>
  <img class="mb-4" [src]="twoFA?.qrCode" alt="" width="180" height="180">
  <p>If you can not scan it, please use secret: <b><span #secret (click)="showSecret()">CLICK HERE</span></b></p>
  <input name="code" type="code" class="form-control" placeholder="One time password" [(ngModel)]="code" (keydown)="hideAlert()" (keypress)="hideAlert()" required autofocus>
  <div #wrongCodeAlert class="alert alert-warning" role="alert" hidden="true">
    Wrong code
  </div>
  <button name="apply" class="btn btn-lg btn-primary btn-block" type="submit" (click)="apply()">Apply</button>
  <button name="logout" class="btn btn-lg btn-primary btn-block" type="submit" (click)="logout()">Logout</button>
</form>
