<!-- File upload -->
<h3>File upload</h3>
<form class="row g-3" #uploadForm="ngForm" >

  <div class="col-md-4">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
  </div>

  <div class="col-md-5">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="fileToUpload.description" [value]="fileToUpload?.description" >
  </div>
  <div class="col-md-3">
    <label for="type" class="form-label">Type</label>
    <select id="type" class="form-select" [(ngModel)]="fileToUpload!.type" name="type">
      <option *ngFor="let fileType of fileTypes!" [value]="fileType">{{fileType}}</option>
    </select>
  </div>

  <div class="col-2">
    <button type="submit" class="btn btn-primary" (click)="uploadFile()">Upload file</button>
  </div>
</form>

<br/>

<!-- Download files -->
<h3>Download files</h3>
<div class="mat-elevation-z8">
  <table mat-table #downloadFilesTable [dataSource]="downloadFiles" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <!-- Download Column -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <a type="button" class="btn btn-sm" [href]="apiUrl + element?.url">Download</a>
      </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="goTo(element.id)">Details</button>
      </td>
    </ng-container>

    <!-- Remove Column -->
    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteFile(element?.id)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator #downloadFilesPaginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons></mat-paginator>
</div>

<br/>

<!-- Schema icon files -->
<h3>Schema icon files</h3>
<div class="mat-elevation-z8">
  <table mat-table #schemaIconFilesTable [dataSource]="schemaIconFiles" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <!-- Download Column -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <a type="button" class="btn btn-sm" [href]="apiUrl + element?.url">Download</a>
      </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="goTo(element.id)">Details</button>
      </td>
    </ng-container>

    <!-- Remove Column -->
    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteFile(element?.id)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator #schemaIconFilesPaginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons></mat-paginator>
</div>

<br/>

<!-- Schema category icon files -->
<h3>Schema category icon files</h3>
<div class="mat-elevation-z8">
  <table mat-table #schemaCategoryIconFilesTable [dataSource]="schemaCategoryIconFiles" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <!-- Download Column -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <a type="button" class="btn btn-sm" [href]="apiUrl + element?.url">Download</a>
      </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="goTo(element.id)">Details</button>
      </td>
    </ng-container>

    <!-- Remove Column -->
    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteFile(element?.id)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator #schemaCategoryIconFilesPaginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons></mat-paginator>
</div>

<br/>

<!-- Image files -->
<h3>Image files</h3>
<div class="mat-elevation-z8">
  <table mat-table #imageFilesTable [dataSource]="imageFiles" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <!-- Download Column -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <a type="button" class="btn btn-sm" [href]="apiUrl + element?.url">Download</a>
      </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="goTo(element.id)">Details</button>
      </td>
    </ng-container>

    <!-- Remove Column -->
    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteFile(element?.id)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator #imageFilesPaginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons></mat-paginator>
</div>

<br/>
