<!-- LicenseTypes -->
<h3>License types</h3>
<div class="mat-elevation-z8">
  <table mat-table #licenseTypesTable [dataSource]="licenseTypes" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Position Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="maxNumberOfLicensesPerUser">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Max number of licenses per user </th>
      <td mat-cell *matCellDef="let element"> {{element?.maxNumberOfLicensesPerUser}} </td>
    </ng-container>

    <!-- Suspended Column -->
    <ng-container matColumnDef="numberOfTrialDays">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of trial days </th>
      <td mat-cell *matCellDef="let element"> {{element?.numberOfTrialDays}} </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-primary btn-sm" (click)="goTo(element.id)">Details</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white; margin-top: 20px">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      diameter="50">
    </mat-progress-spinner>
  </div>

  <mat-paginator #licenseTypesPaginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons></mat-paginator>
</div>
<br/>

<!-- New license type -->
<h3>New license type</h3>
<form class="row g-3 was-validated" #newLicenseTypeForm="ngForm" >
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" pattern=".{4,255}" class="form-control" id="name" name="name" [(ngModel)]="newLicenseType!.name" [value]="newLicenseType?.name" required>
  </div>
  <div class="col-md-3">
    <label for="maxNumberOfLicensesPerUser" class="form-label">Max number of licenses per user</label>
    <input type="number" class="form-control" id="maxNumberOfLicensesPerUser" name="maxNumberOfLicensesPerUser" [(ngModel)]="newLicenseType!.maxNumberOfLicensesPerUser" [value]="newLicenseType?.maxNumberOfLicensesPerUser">
  </div>
  <div class="col-md-3">
    <label for="numberOfTrialDays" class="form-label">Number of trial days</label>
    <input type="number" class="form-control" id="numberOfTrialDays" name="numberOfTrialDays" [(ngModel)]="newLicenseType!.numberOfTrialDays" [value]="newLicenseType?.numberOfTrialDays">
  </div>

  <div class="col-2">
    <button type="submit" class="btn btn-primary" (click)="addNewLicenseType()">Add new license type</button>
  </div>

</form>
<br/>


